<mat-form-field fxFlex class="account-tags-popup">
  <mat-chip-list #accountTagList fxFlex>
    <mat-chip
      *ngFor="let tag of accountsService.selectedAccountTags | async"
      [selectable]="true"
      [removable]="true"
      (removed)="removeTag(tag)"
    >
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      matInput
      #tagsInput
      placeholder="Тэги"
      i18n-placeholder="
        accounts tags popup placeholder|Placeholder for accounts tags field@@accounts.tagPopup.placeholder
      "
      [formControl]="tagsCtrl"
      [matAutocomplete]="tagAutoComplete"
      [matChipInputFor]="accountTagList"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addTag($event)"
    />
    <mat-autocomplete #tagAutoComplete="matAutocomplete" (optionSelected)="selectTag($event)">
      <mat-option *ngFor="let tag of accountTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-chip-list>
  <button
    mat-button
    mat-icon-button
    matSuffix
    (click)="accountsService.clearTags()"
    matTooltip="Очистить все тэги"
    i18n-matTooltip="
      clear tags button tooltip|Tooltip for button clearing all tags@@accounts.tagPopup.buttons.claerAll.tooltip
    "
  >
    <mat-icon>cancel</mat-icon>
  </button>
</mat-form-field>
