<mat-toolbar color="primary" fxLayout="column">
  <mat-toolbar-row fxLayout="row" ngClass.lt-sm="hide-span">
    <span i18n="site header|A main application header.@@main.header">Бюджет</span>
    <div fxFlex></div>
    <button mat-button routerLink="/accounts" routerLinkActive="mat-raised-button">
      <mat-icon>account_balance_wallet</mat-icon>
      <span i18n="toolbar button accounts|A top toolbar menu button for Accounts.@@main.toolbar.accounts">Счета</span>
    </button>
    <button mat-button>
      <mat-icon>account_balance</mat-icon>
      <span i18n="toolbar button budget|A top toolbar menu button for Budget.@@main.toolbar.budget">Бюджет</span>
    </button>
    <button mat-button>
      <mat-icon>date_range</mat-icon>
      <span i18n="toolbar button calender|A top toolbar menu button for Calendar.@@main.toolbar.calendar">Календарь</span>
    </button>
    <button mat-button>
      <mat-icon>pie_chart</mat-icon>
      <span i18n="toolbar button reports|A top toolbar menu button for Reports.@@main.toolbar.reports">Отчеты</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div fxFlex fxLayout="column">
  <router-outlet></router-outlet>
</div>
<simple-notifications></simple-notifications>
