<configuration scan="true" scanPeriod="5 seconds" >

    <!-- defined a console append -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%.15thread] %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- log all Bundle events -->
    <logger name="Events.Bundle" level="OFF"/>

    <logger name="com.hrrm.famoney" level="INFO"/>
    <logger name="org.eclipse.persistence" level="INFO"/>
    <logger name="com.hrrm.famoney.api.accounts.resource" level="INFO"/>
    <logger name="com.hrrm.famoney.api.masterdata.resource" level="INFO"/>
    <logger name="org.apache.aries.jax.rs" level="INFO"/>
    <logger name="org.eclipse.jetty.server" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>