<div fxLayout="row" fxLayoutAlign="start center">
  <button
    mat-icon-button
    (click)="openAccountTagsPopup()"
    cdkOverlayOrigin
    #accountTagsPopupButton="cdkOverlayOrigin"
    matTooltip="{{ getAccountTags() }}"
    matTooltipClass="wrapped-tooltip"
  >
    <mat-icon svgIcon="menu-down" matBadge="{{ getAccountTagsCount() }}" [matBadgeHidden]="getAccountTagsCount() === 0"></mat-icon>
  </button>
  <div fxFlex></div>
  <app-router-tab fxFlex="0 1 auto" class="accounts-tab-group">
    <app-router-tab-item
      *ngFor="let account of accounts | async"
      [routerLink]="account.id"
      routerLinkActive
      #rlaRef="routerLinkActive"
      label="{{ account.name }}"
    ></app-router-tab-item>
  </app-router-tab>
  <button mat-icon-button [matMenuTriggerFor]="menuRef">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menuRef="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>Новый счет</button>
    <button mat-menu-item>Свойства</button>
    <button mat-menu-item>Удалить</button>
  </mat-menu>
</div>
<router-outlet></router-outlet>
